# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class


doc/

# Distribution / packaging
.Python
build/
dist/
downloads/
lib/


# Environments
.env
.envrc
.venv
env/
venv/
ENV/


# PyCharm
.idea/

# Visual Studio Code
.vscode/
